doctype html
html
  head
    title Node Recipes

    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/custom/css/custom.css')

    block content
    hr
    footer
      .container
        Copyright &copy 2020, NodeFood

    script(src='/jquery/jquery.js')
    script(src='/bootstrap/js/bootstrap.js')
    script(src='/js/main.js')
