doctype html
html
  head
    title Technology Blog

    script(src='/public/jquery/jquery.js')
    script(src='/public/bootstrap/js/bootstrap.js')
    link(rel='stylesheet', href='/public/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/public/custom/css/custom.css')

    block content
