extends layout

block content
  .container
    .row
      .col-md-9
        h1 #{title}
      .col-md-3
        a(class="btn btn-success create-btn", href="/manage/recipes/add") Add Recipe
    table(class='table table-striped')
      tr
        th Recipe Title
        th Recipe ingredients
        th Recipe steps
        th Recipe author
        th Actions
      each recipe, i in recipes
        tr
          td #{recipe.title}

          td #{recipe.description}
          td
            a(class="btn btn-primary" href="/manage/recipes/edit/"+recipe._id) Edit
            // a(class="btn btn-tiny btn-default" href='/manage/categories/delete/'+category._id) Delete
