.create-btn  {
  margin-top: .2rem;
}

#messages {
  margin: 10px;
}

#messages ul {
  margin: 0;
  padding: 0;
}

#messages li {
  list-style: none;
  padding: 10px;
}

#messages .success{
  background: green;
  color: white;
}

.showcase {
  background: url('/img/lineOfDishes.jpg')
  color: white;
}

.navbar  {
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-toggler-icon  {
  
}
